
body {
    padding: 0px;
    background-color: #1E609E;
}
h1,h2{
    font-family: 'Spartan', ;

}
.intro header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: #9D7B1E;
    color: #f0ead6;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    max-width: 150vw;
    margin-bottom: 15px;
    flex-wrap: wrap;

}

.wrapper{
    display: flex;
    flex-direction: row;
    background-color: #1E609E;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: auto;
    max-width: 100vw;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    align-self: auto;
    font-family: 'Roboto',sans-serif ;
}
.imagecaption{
    display: flex;
    max-width:33vw ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.imagecaption img{
    border: 1px;
    border-style: solid;
    border-color: #9D7B1E;
    border-radius: 4px;
}
.content p,span {
    text-align: center;
    background-color:#f0ead6 ;
    margin: 5px;
    font-weight: 700;
    border-color: #9D7B1E;
    border-radius: 4px;

}

.experience {
    background-color: #f0ead6;
    margin: 5px;
    padding: 10px;
    max-width: 66vw;
}
.experience h3 {
    font-style: italic;
}

@media screen and (max-width: 1000px){
    .imagecaption{
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
}