
.intro header {
    display: flex;
    flex-direction: row;
    background-color: #E8310C;
    color: #f0ead6;
    align-items: center;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    flex-direction: row;
    background-color: #FF9E0D;
    align-items: center;
    justify-content: space-around;
}

.content p {
    background-color:#f0ead6 ;

}

.experience {
    background-color: #f0ead6;

}

.
/*
.one {
    flex:auto
}
.two {
    flex: auto;
}

.wrapper content{
    display: flex;
    flex-direction: row;
    background-color: #FF9E0D;
    align-items: center;
    justify-content: space-between;
}

.imagecaption{
    display: flex;
    flex: auto;
    align-content: flex-start;
}
.experience {
    background-color: #E8720C;
    align-content: flex-end;
}
*/